.main-page {
	// .main-page__nav
	&__nav {
		width: rem(200);
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// .main-page__logo
	&__logo {
		flex: 0 0 50%;
		background: $yellowColor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-size: rem(16);
		line-height: 2;
		& span {
			font-size: rem(60);
			line-height: 1;
		}
	}
	// .main-page__items
	&__items {
		width: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		text-align: right;
		padding-top: rem(50);
	}
	// .main-page__item
	&__item {
		color: $mainColor;
		font-size: rem(20);
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s ease;
		padding: rem(10);
		@media (any-hover: hover) {
			&:hover {
				background: $mainColor;
				.main-page__link {
					color: #ffffff;
				}
			}
		}
	}
	// .main-page__link
	&__link {
		color: $mainColor;
		transition: all 0.3s ease;
	}
	// .main-page__scrolldown
	&__scrolldown {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		transform: rotate(-90deg);
		padding-top: rem(50);
		font-size: rem(22);
		font-weight: 700;
		&::before {
			content: "";
			display: inline-block;
			border-top: rem(1) solid #000000;
			width: rem(65);
			margin-right: rem(10);
			transform: translateY(12.5px);
		}
	}
}
/*-------------TEXTS--------------------*/
.main-page {
	// .main-page__texts
	&__texts {
		position: absolute;
		top: 25%;
		right: rem(180);
		transform: translateY(-50%);
		text-align: right;
		color: $mainColor;
	}
	// .main-page__title
	&__title {
		font-size: rem(150);
	}
	// .main-page__text
	&__text {
	}
}
/*-------------WATCHNOW--------------------*/
.main-page {
	// .main-page__watchnow
	&__watchnow {
		position: absolute;
		top: 60%;
		right: 0;
		transform: translateY(-50%);
		background: $yellowColor;
		display: flex;
		column-gap: rem(20);
		padding: rem(40) rem(180) rem(40) rem(30);
		& span {
			font-size: rem(20);
			font-weight: 700;
			text-transform: uppercase;
			border-bottom: rem(3) solid $mainColor;
			padding-bottom: rem(5);
		}
		& ._icon-play {
			color: #ffffff;
			font-size: rem(30);
			cursor: pointer;
		}
	}
}
/*-------------MEDIA--------------------*/
.main-page {
	// .main-page__media
	&__media {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		column-gap: rem(10);
		padding: rem(20);
		& span {
			flex: 0 0 rem(60);
			display: flex;
			align-items: center;
			justify-content: center;
			color: $mainColor;
			font-size: rem(20);
			padding: rem(20);
			cursor: pointer;
			border-radius: 50%;
			transition: all 0.4s ease;
			@media (any-hover: hover) {
				&:hover {
					background: $yellowColor;
				}
			}
		}
	}
}
/*-------------ELLIPSES--------------------*/
.main-page {
	// .main-page__ellipses
	&__ellipses {
		width: rem(750);
		height: rem(750);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		margin: 0 auto;
	}
}
.ellipse {
	position: absolute;
	top: 0;
	border-radius: 50%;
	border-style: solid;
	// .ellipse__thin
	&__thin {
		width: 100%;
		height: 100%;
		border-width: rem(1);
		border-color: $mainColor;
		opacity: 0.5;
	}
	// .ellipse__thick
	&__thick {
		width: 93%;
		height: 93%;
		border-width: rem(10);
		border-color: #ffffff;
		transform: rotate(-45deg);
		top: rem(24);
		left: rem(24);
	}
	// .ellipse__yellow
	&__yellow {
		width: 93%;
		height: 93%;
		border-width: rem(10);
		border-color: $yellowColor transparent;
		transform: rotate(-45deg);
		top: rem(24);
		left: rem(24);
		animation: ellipseRotate 15s ease-in-out infinite;
	}
	// .ellipse__circle
	&__circle {
		position: absolute;
		width: rem(64);
		height: rem(64);
		border: rem(1) solid $mainColor;
		border-radius: 50%;
	}
	// .ellipse__circle-circle-1
	&__circle-circle-1 {
		top: rem(150);
		left: rem(175);
		& span {
			left: rem(75);
		}
	}
	// .ellipse__circle-circle-2
	&__circle-circle-2 {
		bottom: rem(150);
		right: rem(160);
		& span {
			left: rem(-130);
		}
	}
	&__circle-circle-1,
	&__circle-circle-2 {
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: inline-block;
			border-radius: 50%;
		}
		& span {
			white-space: nowrap;
			position: absolute;
			top: rem(25);
			width: rem(100);
			font-size: rem(20);
		}
	}
	&__circle-circle-1,
	&__circle-circle-2 {
		&::before {
			width: rem(12);
			height: rem(12);
			background: #ffffff;
			z-index: 1;
		}
	}
	&__circle-circle-1,
	&__circle-circle-2 {
		&::after {
			width: rem(40);
			height: rem(40);
			background: $yellowColor;
		}
	}
}
@keyframes ellipseRotate {
	0% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}
/*-------------OVERLAY--------------------*/
.main-page {
	// .main-page__overlay
	&__overlay {
		position: absolute;
		top: 0%;
		width: 100%;
		height: 100vh;
		background: $yellowColor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}
}
.overlay {
	// .overlay__title
	&__title {
		font-size: rem(100);
		letter-spacing: rem(20);
	}
	// .overlay__subtitle
	&__subtitle {
		font-size: rem(30);
		letter-spacing: 3px;
	}
}
